.contains{
    display: flex;
    gap: 200px;
    font-size: 20px;
    list-style: none;
    font-style: normal;
    justify-content: center;
    padding: 12px;
    border: solid;
    background-color:darkblue;
    border-style: hidden;
    color: white;
   
    
}
.knowledge{
    display: flex;
}
.skills{
    font-size: 50px;
    margin-top: 8%;
    font-style: bold;
    color: black;
    
    
}
.power{
    width: 1000px;
    height: 598px;
    margin-left: 4%;
    margin-bottom: 9%;
}
.Text{
    margin-left: 5%;
    margin-top: 10%;
}
.text{
    border: solid;
    padding: 20px;
    border-radius: 20px;
    width: 29%;
    margin-left: 15%;
    background-color:darkblue;
    border-style: hidden;
    font-size: 25px;
    margin-top: 5%;
    color: aliceblue;
}
.footer{
    display: flex;
    gap: 400px;
    margin-left: 5%;
    margin-top: 10%;

}
.Facebook{
    width: 70px;
    height: 70px;
}
.Icon{
    width: 50px;
    height: 50px;
    
}
.hr{
    width: 1480px;
    padding-left: 9%;
    margin-top: 2%;
    
}
.copyright{
    text-align: center;
    font-size: 18px;
    margin-top: 2%;
    

    
}
.logo{
    width: 40px;
    height: auto;
    color: white;
    margin-right: -12px;   
}
@media screen and (min-width:280px) and (max-width:480px){
    .contains{
        display: flex;
        gap: 200px;
        font-size: 20px;
        list-style: none;
        font-style: normal;
        justify-content: center;
        padding: 12px;
        border: solid;
        background-color:rgb(42, 42, 106);
        border-style: hidden;
        color: white;
       
        
    }
    .knowledge{
        display: flex;
    }
    .skills{
        font-size: 50px;
        margin-top: 8%;
        font-style: bold;
        color: black;
        
        
    }
    .power{
        width: 1000px;
        height: 598px;
        margin-left: 4%;
        margin-bottom: 9%;
    }
    .Text{
        margin-left: 5%;
        margin-top: 10%;
    }
    .text{
        border: solid;
        padding: 20px;
        border-radius: 20px;
        width: 29%;
        margin-left: 15%;
        background-color:darkblue;
        border-style: hidden;
        font-size: 25px;
        margin-top: 5%;
        color: aliceblue;
    }
    .footer{
        display: flex;
        gap: 400px;
        margin-left: 5%;
        margin-top: -3%;
    }
    .Facebook{
        width: 70px;
        height: 70px;
    }
    .Icon{
        width: 50px;
        height: 50px;
        
    }
    .hr{
        width: 1480px;
        padding-left: 9%;
        margin-top: 2%;
        
    }
    .copyright{
        text-align: center;
        font-size: 18px;
        margin-top: 2%;
        
    
        
    }
    .logo{
        width: 40px;
        height: auto;
        color: white;
        margin-right: -12px;   
    }
}